Flask==2.0.3
flask_mail==0.9.1
Flask_Migrate==3.1.0
Flask_SQLAlchemy==2.5.1
pandas==1.4.1
psycopg2==2.9.3
pyspark==3.2.1
python-dotenv==0.20.0
SQLAlchemy==1.4.32

pip~=20.0.2
keyring~=18.0.1
py4j~=0.10.9.3
numpy~=1.22.3
psutil~=5.9.0
setuptools~=45.2.0
marshmallow~=3.15.0
attrs~=21.4.0
wheel~=0.34.2
cryptography~=2.8
Pillow~=7.0.0
tornado~=6.1
Jinja2~=3.0.3
MarkupSafe~=2.1.1
Werkzeug~=2.0.3
click~=8.0.4
blinker~=1.4
itsdangerous~=2.1.1
greenlet~=1.1.2
zipp~=3.7.0
future~=0.18.2